.root {
    display: flex;
    justify-content: center;

    li {

        &:global {

        }
        a {
            text-align: center;

            display: inline-block;
            line-height: 42px;

            width: 45px;
            height: 45px;

            cursor: pointer;

            border: 1px solid orange;
            border-radius: 30px;

            margin-right: 10px;

            &:hover {
                background-color: orange;
                color: #fff;
            }
        }
    }

    :global{
        .selected {
            a{
                background-color: orange;
            color: #fff;
            }
        }
    }
}